<!--Strona pojawiajaca się po poprawnym zakończeniu zakupów-->
<div>
    <h1 class="text-center">Dziękujemy za dokonanie zakupów Panie @TempData["Name1"]!</h1>
    @Html.ActionLink("Wróć do listy", "Index", "Home", null, new { @class = "btn btn-secondary", @role = "button" })
</div>