@model CarViewModel

    <div>
        <h2>
            Model: @Model.Model
        </h2>

        <h4>
            Marka: @Model.Producent
        </h4>

        <h4>
            Cena: @Model.Price
        </h4>
    </div>