@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>.Net Core MVC - ćwiczenia</h1>
    <ul>
        <li>
            @Html.ActionLink("Ciekawe linki", "InterestingLinks", "Home")
        </li>

        <li>
            @Html.ActionLink("Tabela samochodów", "GetAllCars", "Home")
        </li>

        <li>
            @Html.ActionLink("Lista modeli samochodów", "GetListOfModels", "Home")
        </li>

        <li>
            @Html.ActionLink("Forma kontaktowa", "ContactForm", "Home")
        </li>
    </ul>

</div>
