<ul>
    <li>
        <a href="https://www.google.com/">Google</a>
    </li>
    <li>
        <a href="https://www.facebook.com/">Facebook</a>
    </li>
    <li>
        <a href="http://how2html.pl/wewnetrzne-linki-html-podstrony/.pl">HowToHtml</a>
    </li>
</ul>